body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  background-color: #222;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 20px;
  color: #fff;
}

p {
  margin-bottom: 20px;
  color: #ccc;
}

/* Navbar styles */

.navbar {
  background-color: #333;
}

.navbar-brand {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}

.nav-link {
  color: #fff;
}

.nav-link:hover {
  color: #f5f5f5;
}

.dropdown-menu {
  background-color: #333;
  border: none;
}

.dropdown-item {
  color: #fff;
}

.dropdown-item:hover {
  color: #f5f5f5;
  background-color: #333;
}

/* Home page styles */

.card {
  background-color: #333;
  color: #fff;
  margin-bottom: 20px;
}

.card-img-top {
  border-radius: 5px 5px 0 0;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.card-text {
  color: #ccc;
}

.card-link {
  color: #428bca;
  text-decoration: none;
}

.card-link:hover {
  text-decoration: underline;
}

/* Specific styles */

.resource-image {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
}

.resource-title {
  font-size: 24px;
  font-weight: 700;
  margin-top: 40px;
  color: #fff;
}

.resource-description {
  margin-top: 20px;
  color: #ccc;
}

.resource-link {
  margin-top: 20px;
}

.resource-link a {
  color: #428bca;
  text-decoration: none;
}

.resource-link a:hover {
  text-decoration: underline;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  text-align: center;
}